html {
    background-image: url('image/davey-gravy-DmO662qvWO8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    min-height: 100vh;
}

body {
    background-color: rgb(146, 89, 15, 0.8);
    margin: 3rem auto;
    padding: 0 3rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    max-width: min(50vw, 60rem);
}

html, body {
    min-height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav button {
    flex: 1;
    padding: 1rem;
    border-radius: 5rem;
}

.menu-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    justify-content: center;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 2rem;
}

.dish-image {
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.dish-image.salad {
    background-image: url("image/salad.jpg");
}

.dish-image.pasta {
    background-image: url("image/pasta.jpg");
}

.dish-image.cheese {
    background-image: url("image/cheese.jpg");
}

.dish-image.fish {
    background-image: url("image/fish.jpg");
}

.dish-image.hamburger {
    background-image: url("image/hamburger.jpg");
}

.dish-image.crepes {
    background-image: url("image/crepes.jpg");
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    padding: 1rem;
    border-radius: 5rem;
    align-self: center;
}